::-webkit-scrollbar{
  display: none;
}
.background-color-1{
  background-color: #FEEAE9;
}
.background-color-2{
  background-color: white;
}
.background-color-3{
  background: linear-gradient(180deg, #FF589B 0%, #FF136F 100%);
}
main{
  background-color: #F4F4F4;
}